[submodule "twitchcollabchat"]
	path = twitchcollabchat
	url = https://github.com/Luk4sWorld/twitchcollabchat
[submodule "twitch-timer"]
	path = twitch-timer
	url = https://github.com/Luk4sWorld/twitch-timer.git
[submodule "twitchTTS"]
	path = twitchTTS
	url = https://github.com/Luk4sWorld/twitchTTS.git
